.card-art {
  width: 400px;
}

.card-element {
  border-radius: 34px;
  box-shadow: 20px 20px 20px, -20px -20px 60px #efeaf1;
  display: flex;
  height: fit-content;
  margin: 20px auto;
  width: fit-content;
}

.card-element img {
  border-radius: 5%;
}

.card-info {
  font-size: 16px;
  line-height: 1.5;
  margin: 5px;
}

.no-shadow {
  box-shadow: none;
}

.random-card {
  height: 500px;
}
