.card-art {
  height: 500px;
}

.card-element {
  border-radius: 34px;
  box-shadow: 20px 20px 20px, -20px -20px 60px #efeaf1;
  cursor: pointer;
  display: flex;
  height: fit-content;
  margin: 20px;
  width: fit-content;
}

.card-element img {
  border-radius: 5%;
}

.card-info {
  font-size: 16px;
  line-height: 1.5;
  margin: 5px;
}

.card-details-specifics {
  box-shadow: none;
  cursor: auto;
}

.random-card {
  height: 500px;
}
