.card-element {
  border-radius: 5%;
  box-shadow: 20px 20px 20px, -20px -20px 60px #efeaf1;
  margin: 20px auto;
  width: fit-content;
}

.card-element img {
  border-radius: 5%;
  width: 25em;
}

.random-card {
  height: 500px;
}
