.card-art {
  width: 400px;
}

.card-element {
  border-radius: 34px;
  box-shadow: 20px 20px 20px, -20px -20px 60px #efeaf1;
  display: flex;
  height: fit-content;
  margin: 20px auto;
  width: fit-content;
}

.card-element img {
  border-radius: 5%;
}

.card-info {
  font-size: 16px;
  line-height: 1.5;
  margin: 5px;
}

.card-info-container {
  box-shadow: 20px 20px 20px, 0 0 0 #efeaf1;
  display: flex;
  flex-flow: column;
  height: fit-content;
  margin-top: 30px;
  padding: 16px;
}

.delete-button {
  align-self: flex-end;
  background-color: #371e30;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 8px 16px;
  width: fit-content;
}

.no-shadow {
  box-shadow: none;
}

.random-card {
  height: 500px;
}

.separator-line {
  border-top: 2px solid #371e30;
  width: 95%;
}

.text-line {
  border-bottom: 0.1rem solid #371e30;
}
