html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #eef1ef;
  color: #371e30;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[ type = 'submit' ] {
  color: #371e30;
  height: 2.5em;
  width: 10em;
}

main, h1, section {
  padding: 10px;
}

h1 {
  border: 5px solid #592a64;
  font-size: xx-large;
  text-align: center;
}

main, section {
  box-sizing: border-box;
  display: flex;
  margin: 10px 0;
}

main {
  flex-flow: row wrap;
  margin: auto;
  width: 80%;
}

section {
  flex-direction: column;
}

.card-gallery {
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}
