.header {
  background-color: #B29BFF;
  height: 50px;
  padding: 5px;
  width: 100%;
}

.header div {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 10%;
}

.header p {
  font-size: 4em;
}

.logo {
  max-height: 100%;
}