.button {
  background-color: #371e30;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 12px 16px;
  width: fit-content;
}

.card-gallery {
  flex-flow: column;
  justify-content: center;
  width: 100%;
}

.main-content {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 80%;
}

.page-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.random-card-container .button-position {
  justify-content: center;
  margin-top: 40px;
}

.random-card-container {
  align-items: center;
  border: 2px solid #b29bff;
  margin: 50px auto 90px;
  width: 50%;
}

.random-card-container div {
  display: flex;
  justify-content: flex-end;
  margin: 10px auto;
}

.random-card-container .random-card-top {
  align-items: center;
  border-bottom: 1px solid #b29bff;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 80%;
}

.random-card-container label {
  margin: 5px auto;
}

.save-button {
  font-size: 16px;
  padding: 16px 20px;
  width: 110px;
}

.title {
  border-bottom: 2px solid #592a64;
  font-size: xx-large;
  margin: 25px auto;
  text-align: center;
  text-transform: uppercase;
  width: 40%;
}

@media only screen and (max-width: 1200px) {
  .card-actions {
    border: none;
    border-bottom: 2px solid #b29bff;
    border-top: 2px solid #b29bff;
  }
}
