.button {
  align-items: center;
  background-color: #371e30;
  border-radius: 4px;
  border: none;
  color: white;
  display: flex;
  height: 42px;
  justify-content: center;
  padding: 12px 16px;
  width: fit-content;
}

.button-disabled {
  background: grey;
}

.button-position {
  justify-content: center;
  margin-top: 40px;
}

.card-name-input {
  padding: 10px;
  width: 60%;
}

.card-name-input,
.card-name-input::placeholder {
  color: #371e30;
}

.card-gallery {
  flex-flow: column;
  justify-content: center;
  width: 100%;
}

.main-content {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 80%;
}

.new-card-container {
  align-items: center;
  border: 2px solid #b29bff;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin: 50px auto 90px;
  padding: 10px 10px 30px;
  width: 50%;
}

.new-card-container label {
  margin: 5px auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.random-card-area {
  align-items: center;
  border-bottom: 1px solid #b29bff;
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto 20px;
  padding: 10px 10px 20px 10px;
  width: 100%;
}

.submit-button {
  font-size: 14px;
  min-width: 110px;
  padding: 16px 20px;
}

.search-card-area {
  align-items: center;
  border-bottom: 1px solid #b29bff;
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto 20px;
  padding: 10px 10px 20px 10px;
  width: 100%;
}

.show-random-card-button {
  width: 95px;
}

.title {
  border-bottom: 2px solid #592a64;
  font-size: xx-large;
  margin: 25px auto;
  text-align: center;
  text-transform: uppercase;
  width: 40%;
}

@media only screen and (max-width: 1200px) {
  .card-actions {
    border: none;
    border-bottom: 2px solid #b29bff;
    border-top: 2px solid #b29bff;
  }
}
