.header {
  background-color: #b29bff;
  display: flex;
  height: 60px;
  padding: 5px 0;
  width: 100%;
}

.logo {
  height: 50px;
  margin-left: 50px;
  filter: invert(77%) sepia(13%) saturate(2424%) hue-rotate(320deg)
    brightness(97%) contrast(96%);
}
